<div id="about" class="container1">
    <div class="row  about1">
        <div class="col-6">
                            <h3>Get all the advantages</h3>
                            <h1>ENJOY OUR FIRST</h1>
                            <div class="quality">QUALITY SERVICES</div>
                              <p>Technology and globalization can make the world feel small and thoroughly
            explored. But there are always places to discover—and rediscover—for yourself. Take
            a look at the Best Places to Travel in 2018 for additional inspiration, and share your
            own picks with us on social media using #TLBestPlaces. </p>
                    <p>Located at the very eastern edge of Asia, the Philippines are home to more than 7,000 islands, which are inhabited by friendly locals and many indigenous tribes. From pristine beaches and marvelous natural wonders to interesting historic sites and once-in-a-lifetime experiences, the Philippines pack many exciting things to see and do.</p><p> Check out the following top tourist attractions in the Philippines.<p>
                        </div>

            <div class="col-6 pic3">
                <img src="/assets/6-2.jpg" class="img-responsive">

            </div>
          </div>
        </div>
    




<div class="container2">
    <div class="row pic2">
        <div class="col-4 ">
            <div class="thumb1">
                <span class="law">LAWS</span>
                <h2>Monthly<br>
                1,050.00</h2>
                
                <hr class="hr-text" data-content="AND"> 

                <p>
                 <%= link_to "Read More", class: "read" %>

                </p>

            </div>
        </div>
          <div class="col-4">
            <div class="thumb1"><p>Located at the very eastern edge of Asia, the Philippines are home to more than 7,000 islands, which are inhabited by friendly locals and many indigenous tribes.</p></div>
        </div>

        <div class="col-4">
          <div class="thumb1"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rerum inventore, nemo exercitationem, accusamus velit facilis fugit assumenda aperiam cum molestiae pariat</p></div>
        </div>
    </div>
</div>

<div class="listgov">
    <div class="row gov">
      <div class="col-2">
          <img src="/assets/btr-logo.jpg" class="img-responsive">
      </div> 
      <div class="col-2">
          <img src="/assets/dar.jpg" class="img-responsive">
      </div> 
      <div class="col-2">
          <img src="/assets/erc.jpg" class="img-responsive">
      </div> 
      <div class="col-2">
          <img src="/assets/gsis.png" class="img-responsive">
      </div> 
      <div class="col-2">
          <img src="/assets/ogcclogo.jpg" class="img-responsive">
      </div> 
      <div class="col-2">
          <img src="/assets/ombudsman-logo.jpg" class="img-responsive">
      </div> 
      <div class="col-2 proco">
          <img src="/assets/Proc0406.jpg" class="img-responsive">
      </div> 
     
    </div>
</div>


<div class="newco">
        <div class="our-product">
            <h1>Our Product</h1>
        </div>
    <div class="content">
        <div class="row  newco1">
            <div class="service-box-content">
                <div class="icon">
                     <i class="fa fa-book"></i>
                </div>
                <h4>Administrative law</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rerum inventore, nemo exercitationem, accusamus velit facilis fugit assumenda aperiam cum molestiae pariat</p>
            </div>
            <div class="service-box-content">
                <div class="icon">
                     <i class="fa fa-users"></i>
                </div>
                <h4>Labor and Social Legislation</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rerum inventore, nemo exercitationem, accusamus velit facilis fugit assumenda aperiam cum molestiae pariat</p>
            </div>
            <div class="service-box-content">
                <div class="icon">
                     <i class="fa fa-university"></i>
                </div>
                <h4>Jurisprudence</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rerum inventore, nemo exercitationem, accusamus velit facilis fugit assumenda aperiam cum molestiae pariat</p>
            </div>
        </div>

        <div class="row  newco1">
            <div class="service-box-content">
                <div class="icon">
                     <i class="fa fa-bar-chart"></i>
                </div>
                <h4>Taxation</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rerum inventore, nemo exercitationem, accusamus velit facilis fugit assumenda aperiam cum molestiae pariat</p>
            </div>
            <div class="service-box-content">
                <div class="icon">
                     <i class="fa fa-balance-scale"></i>
                </div>
                <h4>Deparment of Justice</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rerum inventore, nemo exercitationem, accusamus velit facilis fugit assumenda aperiam cum molestiae pariat</p>
            </div>
            <div class="service-box-content">
                <div class="icon">
                     <i class="fa fa-pencil-square-o"></i>
                </div>
                <h4>Election</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rerum inventore, nemo exercitationem, accusamus velit facilis fugit assumenda aperiam cum molestiae pariat</p>
            </div>
        </div>
    </div> 
</div>


<div class="box box1">
    <div class="skewed">
        hello
    </div>
</div>
<div class="box boxw2">
    <div class="skewed">
        hello
    </div>
</div>

