
<div id="about" class="container1">
    <div class="row" style="
    margin-right: 0px;
    margin-left: 0px;
"">
        <div class="cold-md-12">
            <div class="about1">
                <h1>About Us</h1>
                <p>Travel is the movement of people between distant geographical locations. Travel can be done by foot, bicycle, automobile, train, boat, bus, airplane, ship or other means, with or without luggage, and can be one way or round trip. Travel can also include relatively short stays between successive movement</p>
                <p>We know that people will travel far and wide for incredible food and drink, which is
why that was a key factor in our decision-making. In 2018, you’ll want to head to
Jerusalem for its exciting Levantine food, Oslo for its coffee culture, Belgrade for
craft beer, and Valle de Guadalupe for coveted Mexican wines.</p>
          <p>Technology and globalization can make the world feel small and thoroughly
explored. But there are always places to discover—and rediscover—for yourself. Take
a look at the Best Places to Travel in 2018 for additional inspiration, and share your
own picks with us on social media using #TLBestPlaces. </p>
        <p>Located at the very eastern edge of Asia, the Philippines are home to more than 7,000 islands, which are inhabited by friendly locals and many indigenous tribes. From pristine beaches and marvelous natural wonders to interesting historic sites and once-in-a-lifetime experiences, the Philippines pack many exciting things to see and do.</p><p> Check out the following top tourist attractions in the Philippines.<p>
            </div>
        </div>
    </div>
</div>